# This file is a part of net-print/samsung-unified-driver package and is based
# on udev rules shipped by HP, but assigns permissions and ownership to
# work with CUPS. SANE seems to work with any extra rules.
#
ACTION!="add", GOTO="hp_uld_rules_end"
ENV{DEVTYPE}=="usb_device", GOTO="hp_uld_rules_begin"
SUBSYSTEM=="usb|usb_device", GOTO="hp_uld_rules_begin"
GOTO="hp_uld_rules_end"

LABEL="hp_uld_rules_begin"

ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="aa2a", MODE="0660", GROUP="lp"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="ce2a", MODE="0660", GROUP="lp"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="c02a", MODE="0660", GROUP="lp"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="eb2a", MODE="0660", GROUP="lp"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="f22a", MODE="0660", GROUP="lp"

LABEL="hp_uld_rules_end"
